*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}
.col-12head{
border: 1px solid red;
width: 100%;
display: flex;
margin: 0 auto;
justify-content: space-between;
flex-direction: row;
}
.col-6{
padding: 30px;
margin: 0 auto;
}
i{
    color: red;
}
.col-6 ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.header1 a{
    text-decoration: none;
    color: black;
}
.header1 li{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.people{
    font-family: SourceSansProBold !important;
    color: #2e3131 !important;
    font-weight: 700;
}
.header1 button{
    text-align: center;
    width:40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid red;
    border-radius: 35%;
}
.col-12nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
    padding: 20px 300px 20px 300px;
}
.header2{
    display: flex;
    max-width: 1200px;
    border: 1px solid green;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.header2ul li{
list-style: none;
padding: 12px;
}
.header2{
    max-width: 1200px;
}
.header2ul a{
    text-decoration: none;
    color: black;
    font-family: serif;
    font-size: 14px;
    font-weight: 400;
}
.rightbutton{
    border: none;
    outline: none;
}
button img{
    height: 30px;
    width: 70px;
}
.device{
    display: none;
}
.device i{
    height: 30px;
    width: 30px;
}
@media only screen and (max-width: 985px){
   .random{
    display: none;
   }
   .device{
    display: flex;
   }
   .col-12nav{
    display: none;
   }
}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;

    gap: 50px;
    flex-wrap: wrap;
}
.card{
    border: 1px solid blue;
    text-align: left;
    width: 300px;
}
img{
    width: 100%;
}
